<a href="https://colab.research.google.com/github/Gintariuxas/Challenge/blob/main/Turing_College_Technical_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Turing College Technical Challenge

## Data Science Fundamentals - Data Wrangling and Storytelling

Welcome to the Turing College tech challenge notebook! It is based on the first notebook of a previous Turing College’s data science course. While the course structure has changed quite significantly now, we invite you to go through the exercises and the learning material to get a better feeling of how learning with our self-driven educational model will suit you. The technical challenge will allow us to assess how well you can learn the new concepts presented here.

This notebook focuses on EDA - Exploratory Data Analysis. You will learn how to analyze data, generate statistics, and make informative eye-catching visualizations.

## Learning outcomes:

- Submit assignments via Github (save work to Github)
- Read datasets from CSVs for analysis with Pandas
- Use basic Pandas functions for Exploratory Data Analysis (EDA)
- Generate Basic Visualizations with Pandas - line charts, scatter plots, histograms.

## Working with Github

Even though saving Colab notebooks is very simple, every data scientist should first understand what GitHub is and how it can be used fully. Go through [uploading your project to Github](https://lab.github.com/githubtraining/uploading-your-project-to-github) tutorial.

### Exercise - your first commit

Your first task is to store a sample file on a new public personal GitHub repository. It can be a simple text file that you make.

Once you have stored the sample file as practice, it's time to push this notebook to your GitHub repository to save progress. In this notebook select "File"->"Save a copy in GitHub" and select the repository you have just created for the test file. You will most likely need to allow Colab to access your GitHub - do that. Write a meaningful commit message, e.g. "First commit of demo notebook". 

Now, whenever you make changes to the notebook, select "Save a copy to GitGub" and select the same repository and filename - this will create a new commit (remember to set the commit message to something useful and informative - a sentence explaining what was done). Make sure you commit regularly after you complete the exercises - this will prevent you from losing work and let us see your progress better.

To test whether saving of the notebook works, change the quoted text in the piece of code below, then save the notebook. Close the window and open the notebook again (you can do this using https://colab.research.google.com/ , selecting the 'GitHub' tab and adding the github link to your notebook).

In [25]:
print('Exercise - slice and measure')

Exercise - slice and measure


The link to your repository is what you will need to submit to progress further through the admissions process. Keep in mind that the full history of the notebook can be seen in GitHub - so we have a way to check if you follow the rule of commiting often with useful messages :) Final note - make sure the repository is public and not private.

## Introduction to Pandas

<center><img width="300" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png" /></center>

To explore the data, we will use Pandas. Pandas is the most popular Python library for [EDA (exploratory data analysis)](https://towardsdatascience.com/exploratory-data-analysis-8fc1cb20fd15). No matter how complex the EDA, everything starts with loading a dataset. Get a grip of [pandas basics](https://www.learnpython.org/en/Pandas_Basics) and go through [importing a CSV dataset into Pandas](https://www.datacamp.com/community/tutorials/pandas-read-csv) tutorial, and let's start with loading the dataset from a CSV.

Key takeways:
* Pandas primary data structure is a `Dataframe`.
* Dictionary of lists == Pandas DataFrame (conceptually). You can treat each column as a key, while column contents - as a list of values.
* Pandas Dataframes unlock a vast amount of operations like grouping, filtering, calculating means, quantiles, unlike standard Python data structures.


### Exercise - loading a dataset

In this exercise, you will learn to load a Pandas dataset. We'll explore 2 methods to load a dataset - from a remote host and from your Colab notebook's local environment.

1. Load a [remote](https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv) dataset into Pandas and assign it to a variable `df1`.
2. Download the same dataset using the provided `wget` command. Read the dataset with Pandas and assign it to a variable `df2`.

In [10]:
# wget is a bash command line program, which is used to download files or website sources from the internet
!wget https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv -O nbaaellelo.csv
# df1
import pandas as pd
url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv"
df1 = pd.read_csv(url)
# df2
df2 = pd.read_csv("nbaaellelo.csv")

--2021-07-11 16:22:17--  https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18173265 (17M) [text/plain]
Saving to: ‘nbaaellelo.csv’

nbaaellelo.csv      100%[===================>]  17.33M  --.-KB/s    in 0.1s

2021-07-11 16:22:17 (154 MB/s) - ‘nbaaellelo.csv’ saved [18173265/18173265]

In [11]:
assert df1.equals(df2)

In [12]:
df1.head(5)

   gameorder       game_id lg_id  ...  game_result  forecast notes
0          1  194611010TRH   NBA  ...            L  0.640065   NaN
1          1  194611010TRH   NBA  ...            W  0.359935   NaN
2          2  194611020CHS   NBA  ...            W  0.631101   NaN
3          2  194611020CHS   NBA  ...            L  0.368899   NaN
4          3  194611020DTF   NBA  ...            L  0.640065   NaN

[5 rows x 23 columns]

When a dataframe has too many rows to fit the page, it's often convenient to `transpose` the dataframe with `.T`. Try it!

In [13]:
df1.head().T

                          0             1  ...             3             4
gameorder                 1             1  ...             2             3
game_id        194611010TRH  194611010TRH  ...  194611020CHS  194611020DTF
lg_id                   NBA           NBA  ...           NBA           NBA
_iscopy                   0             1  ...             1             0
year_id                1947          1947  ...          1947          1947
date_game         11/1/1946     11/1/1946  ...     11/2/1946     11/2/1946
seasongame                1             1  ...             2             1
is_playoffs               0             0  ...             0             0
team_id                 TRH           NYK  ...           NYK           DTF
fran_id             Huskies        Knicks  ...        Knicks       Falcons
pts                      66            68  ...            47            33
elo_i                  1300          1300  ...       1306.72          1300
elo_n               1293.28       1306.72  ...       1297.07       1279.62
win_equiv           40.2948       41.7052  ...       40.6928        38.864
opp_id                  NYK           TRH  ...           CHS           WSC
opp_fran             Knicks       Huskies  ...         Stags      Capitols
opp_pts                  68            66  ...            63            50
opp_elo_i              1300          1300  ...          1300          1300
opp_elo_n           1306.72       1293.28  ...       1309.65       1320.38
game_location             H             A  ...             A             H
game_result               L             W  ...             L             L
forecast           0.640065      0.359935  ...      0.368899      0.640065
notes                   NaN           NaN  ...           NaN           NaN

[23 rows x 5 columns]

## Basic Pandas functions for EDA

You don't have to be all fancy and smart to perform basic EDA. Most of EDA features several basic operations, and Pandas the process accessible.

## Basic descriptive statistics

[Mean](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.mean.html) value, [Median](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.median.html) value, [standard deviation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.std.html), [minimum](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.min.html), [maximum](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.max.html) values, [quantiles](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.quantile.html). These are the data properties you should explore first.

### Exercise - exploring the scores

Calculate the mean `avg_pts`, `median_pts`, minimum `min_pts` and maximum `max_pts` values of points scored by NBA players using the dataset loaded before. To make things spicy, calculate quantiles at every 5% `quantiles`. How does the distribution look like? Why?

In [14]:
import numpy as np
#MEAN
avg_pts = df1['pts'].mean()
#MEDIAN
median_pts = df1['pts'].median()
#MINIMUM
min_pts = df1['pts'].min()
#MAXIMUM
max_pts = df1['pts'].max()
#QUANTILES
#Quantiles sequence is created:
qseq = np.arange(0.0, 1.0, 0.05)
quantiles = df1['pts'].quantile(qseq)
#DISTRIBUTION
#Standard deviation
std_pts = df1['pts'].std()
#Coefficient of Variation (CV)
CV = std_pts/avg_pts
#How does the distribution look like? Why?
#CV is less than 1. It shows that the Standard Deviation is low. The lower is standard deviation, the less spread out a data distribution. 
#Why?
#Because data are concentrated around the mean.
assert round(avg_pts, 1) == 102.7
assert round(median_pts, 1) == 103
np.testing.assert_array_almost_equal(quantiles,  
  [0.0,
  79.0,
  84.0,
  88.0,
  91.0,
  93.0,
  95.0,
  97.0,
  99.0,
  101.0,
  103.0,
  104.0,
  106.0,
  108.0,
  110.0,
  112.0,
  115.0,
  118.0,
  122.0,
  127.0])
assert round(max_pts, 2) == 186
assert round(min_pts, 2) == 0

0.14421149799414432

## Grouping, Aggregations

Read this [tutorial](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html#GroupBy:-Split,-Apply,-Combine) from Data Science Handbook to get familiar with the philosophy of groupby and the API of grouping in Pandas.

### Exercise - slice and measure

Global statistics are biased - not all teams score 100 points per game, some teams performs above average.

Find 5 teams (by fran_id) with most average points scored per game. Save as `five_best_teams`.

In [24]:
#The average points of each team:
teams_mean = df1.groupby('fran_id')['pts'].mean()
#TOP5
five_best_teams = teams_mean.nlargest(5, 'first')
print(five_best_teams)
np.testing.assert_array_almost_equal(five_best_teams["pts"].values, [115.44651163, 114.05131414, 112.65454545, 112.35449735, 111.62529551])

fran_id
Condors       115.446512
Squires       114.051314
Floridians    112.654545
Stars         112.354497
Colonels      111.625296
Name: pts, dtype: float64

KeyError: ignored

## Basic Visualizations

Although at the end of this week you will have learned some fancy ways of visualizing data with matplotlib and Seaborn, Pandas exposes some basic visualization API, which is quite useful for many basic cases.

Let's start with some readings. Go through a official Pandas [tutorial](https://pandas.pydata.org/docs/user_guide/visualization.html) on the visualizations API. Copy-paste the code, try to run it in the notebook.

### Exercise - let's visualize the games!

Visualize top 10 teams who score most / least on average per play. Use a bar chart for that.

You should see a result as follows:
<div><img src="https://i.imgur.com/io7fvju.png" /></div>

You should see a result as follows:
<div><img src="https://i.imgur.com/6VXMksY.png" /></div>

Now try to visualize all team scores the same way.

You should see a result as follows:
<div><img src="https://i.imgur.com/L2iTGuC.png" /></div>

The results do not seem that intriguing. Although, it seems that the slope of 60-95 scoring teams and 100-120 is steeper than mid-section of the curve. Which indicates that most teams score around 100 points.

A histogram could enhance these frequency differences. Plot the data with a `hist` type with 20 bins. Would you guess what kind of distribution does it (nearly) follow?

You should see a result as follows:
<div><img src="https://i.imgur.com/Pc3sUKN.png"/></div>

Seems like most teams do score ~100 - 105 points per game. The kind of distribution on the right is called a skewed Normal Distribution.

There's one more often used plot type to explore - a **line chart**. Your task is to visualize Los Angeles Lakers wins per years. Which year has been most successful for the team?

From the chart, it should be clear that LAL success is periodic - 10 to 20 years they win about 80 times per year.

## Exercise

For our last exercise for the day, we'll be exploring statistics of U.S. births.

Here's the [link](https://raw.githubusercontent.com/fivethirtyeight/data/master/births/US_births_2000-2014_SSA.csv) to the dataset.

Your objective is to answer the following questions (writing the answers in this notebook):

* How does the month impact childbirth?
* Have there been any significants ups / downs in chilbirth throughout the years? Could you explain them?
* Which days of the week children are born most frequently on?
* What's the lowest/biggest amount of childbirths per month?
* Which months are most / least predictable in terms of childbirth? (hint - use standard deviation)

Requirements:
* Dataset is loaded from a remote CSV.
* Basic EDA Pandas statistical functions are used (min, max, mean, std).
* Grouping and aggregations.
* Charts used: line, bar plot.

## Summary

Basic EDA is what data scientists always do with when starting to work with a new dataset. It's an essential skill to possess. Though, data comes in all shapes and flavors. There's much more to plotting than Pandas APIs. This is what we'll focus on in subsequent chapters.